$animations-menu-default: showMenu .3s !default;

@keyframes showMenu {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
